<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="refresh" content="{{delay}};URL={{recUrl}}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Just a moment...</title>
    <link rel="stylesheet" media="screen" href="/cdn-cgi/styles/js-challenge/error.css" type="text/css">
</head>
<body>
<table width="100%" height="100%" cellpadding="30">
    <tr>
        <td align="center" valign="center">
            <h1>Checking your browser before accessing xyz.com.</h1>
            <noscript>
                <h1 style="color:red;"><strong>Please turn JavaScript on and reload the page.</strong></h1>
            </noscript>
            <div id="challenge" style="display:none;">
                <p>This process is automatic. Your browser will redirect to your requested content shortly.</p>
                <p>Please allow up to 5 seconds...</p>
                <img src="/cdn-cgi/images/spinner.gif" style="margin: 40px 0 30px 0;"/>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript" src="/cdn-cgi/scripts/jquery-1.4.2.min.js"></script>
</body>
</body>
</html>